name: Build and Test

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.24"
                  cache: true
            - name: Build
              run: go build -v ./...
            - name: Test
              run: go test -v ./...
            - uses: golangci-lint/action@v4
              with:
                  version: latest
            - name: Run Linter
              run: golangci-lint run
